{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Latest Requests</h2>
{{if .PEDAPIRequests}}
     <table>
        <tr>
            <th>PartnerId</th>
            <th>MerchantId</th>
            <th>TerminalId</th>
            <th>URL</th>
            <th>Response Status</th>
            <th>Request Time</th>
        </tr>
        {{range .PEDAPIRequests}}
        <tr>
            <td>{{.PartnerID}}</td>
            <td>{{.MerchantID}}</td>
            <td>{{.TerminalID}}</td>
            <td>{{.URL}}</td>
            <td>{{.ResponseStatus}}</td>
            <td>{{.RequestTime}}</td>
        </tr>
        {{end}}
    </table>
{{else}}
    <p>There's nothing to see here yet!</p>
{{end}}
{{end}}